.boxMainToDo{
    width: 400px;
    height: clamp(300px 350px 600px);
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--main-color);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.boxProjectName{
    margin-top: 20px;
    height: 30px;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: clip; 
    font-size: 1.1rem;
    font-weight: 600;   
}

.boxToDosList{
    width: 80%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    min-height: clamp(100px, 200px, 400px);
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
    margin-bottom: 20px;
}

.boxMyToDo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}


.checked{
    color:rgb(0, 0, 0);
    opacity: 0.3;
    text-decoration: line-through
}

.checkBox{
    cursor: pointer;
}

.checkBox:checked{
        border: none;
        outline: none;
        accent-color: var(--main-color);
}


.pName{
    width: 80%;
    height: 1.5rem;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.boxPriority{
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.pHigh{
    background-color: rgb(255, 137, 137);
}

.pMedium{
    background-color: rgb(255, 255, 130);
    
}

.pLow{
    background-color: rgb(118, 255, 118);
}

.pDone{
    background-color: rgb(189, 188, 188);
}


/* buttons  */

.boxButtons{
    display: flex;
    gap: 10px;
}

.buttonNewToDo{
    background-color: white;
    color: var(--main-color);
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 10px;
    height: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnClearCheckedToDos{
    background-color: white;
    color: var(--main-color);
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 10px;
    height: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.boxDate{
    width: 30%;
    height: 2.2rem;
    border: 1px var(--main-color) solid;
    border-radius: 5px;
    padding: 2px 5px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: var(--main-color);
}
